/* Styles for GitHub README */

/* Variables */
:root {
    --profile-size: 200px;
    --icon-size: 50px;
}

/* Profile */
.profile{
    margin-right: 5%;
    width: var(--profile-size);
    height: var(--profile-size);
    border-radius: 100%;
    object-fit: cover;
}

/* Name and tags */
.nameAndTags{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

/* Tag text */
.tagText{
    font-size: large;
    font-style: italic;
    font-weight: bold;
    opacity: 0.8;
}

/* Description */
.description{
    font-size: medium;
    font-weight: 500;
    text-align: justify;
    margin-top: 2%;
}

/* Technical tools */
.technicalTools{
    display: flex;
    gap: 10px;
}

.icon{
    height: var(--icon-size);
    width: var(--icon-size);
    border-radius: 10%;
}

/* Additional Info */
.additional{
    font-size: medium;
}
